---
layout: default
---

<div id="home">
    <h1>{{ site.title }}</h1>
    <hr/>
    <p>
        Welcome here! I am Xingyuan, a graduate student of Language Technologies Institute in the School of Computer Science at Carnegie Mellon University. I am fortunately advised by <a href="http://www.phontron.com/index.php">Professor Graham Neubig</a> and <a href="http://www.cs.cmu.edu/~lsl/"> Professor Lori Levin.</a> Before that, I received my bachelor degree in Translation and Linguistics from Zhejiang University, where I minored in Computer Science.
         <br>
         My research interests span from Computational linguistics to Natural Language Processing. In particular, I am interested in machine learning methods that are linguistically motivated, and the computational approaches that answer the scientific questions of linguistics. My goal is to build natural language processing systems that are more close to human cognition and encoded with human knowledge. 

    </p>    
</div>

{% include sections/career.html %}  
{% include sections/education.html %} 

<h1><span data-i18n="skills.my_skills">Publications</span></h1>
<div class="archive">
    <div>
    <p style="float: left; margin-right:20px">
        <img src="./static/img/mwe.png" max-height="200px" width="130px">
    </p>
    <p>
        <b>Multi-word Expression in Cross-lingual Word Embeddings</b>
        <br>
   Multi-word expressions, combinations of multiple orthographic words behaving as one word, are common in every language, and one word in one language is often translated into an MWE in another. Existing cross-lingual word embedding studies rely on orthographic words separated by white-space with minimal consideration for multi-word expressions. We proposed a method using lexicon-based tokenization of MWEs to improve Cross-lingual word embedding performance.
   <font color="911A00">Under review.</font>
    </p>
  </div>

  <!-- 每次新的project别忘了换行符号 <br> -->
  <br>

    <div>
    <p style="float: left; margin-right:20px">
        <img src="./static/img/coling2020.png" max-height="200px" width="130px">
    </p>
    <p>
        <b>Automatic Interlinear Glossing for Under-Resourced Languages Leveraging Translations</b>
        <br>
   Interlinear Glossed Text (IGT) is a widely used format for encoding linguistic information in language documentation projects and scholarly papers. Manual production of IGT takes time and requires linguistic expertise. We tackle the issue by creating automatic glossing models, using modern multi-source neural models that additionally leverage easy-to-collect translations. We further explore cross-lingual transfer and a simple output length control mechanism, further refining our models. Evaluated against three challenging low-resource scenarios, our approach significantly outperforms a recent, state-of-the-art baseline, particularly improving on overall accuracy as well as lemma and tag recall.
   <font color="911A00">Under review.</font>
    </p>
  </div>

  <!-- 每次新的project别忘了换行符号 <br> -->
  <br>


          <div>
    <p style="float: left; margin-right:20px">
        <img src="./static/img/lrec.png" max-height="200px" width="130px">
    </p>
    <p>
        <b>Cross-lingual Contextualized Embeddings Mapping Evaluation (ongoing)</b>
        <br>
   Contextualized word embeddings outperform static word embeddings in a range of downstream tasks. However, in the dictionary-based word translation task, the typically conducted intrinsic evaluation of word embedding, contextualized word embeddings underperform the static word embeddings. Having only dictionary, researchers could not investigate into the dynamic nature of word embeddings with surrounding words. Thus, we made the first step to contextualize a word translation task. 
   <font color="911A00">Under revision to submission.</font>
    </p>
  </div>
  <br>
  <div>
    <p style="float: left; margin-right:20px">
        <img src="./static/img/multi-label-classification.png" max-height="200px" width="130px">
    </p>
    <p>
        <b>Two-Stage Label Embedding via Neural Factorization Machines for Multi-label Classification</b>
        <br>C. Chen, H. Wang, W. Liu, X. Zhao, T. Hu, G. Chen 
        <br>Label embedding has been widely used as a method to exploit label dependency with dimension reduction in multi-label classification tasks. However, existing embedding methods intend to extract label correlations directly, and thus they might be easily trapped by complex label hierarchies. To tackle this issue, we propose a novel Two-Stage Label Embedding (TSLE) paradigm that involves Neural Factorization Machine (NFM) to jointly project features and labels into a latent space.
        <font color="911A00">AAAI '19.</font> 
    </p>
  </div>
  <!-- 每次新的project别忘了换行符号 <br> -->
  <br>
  <div>
    <p style="float: left; margin-right:20px">
        <img src="./static/img/fg.png" max-height="200px" width="130px">
    </p>
    <p>
        <b>Robust  Remote  Heart  Rate  Estimation  from  Face  Utilizing Spatial-temporal  Attention</b>
        <br>X. Niu*, X. Zhao*, H. Han, A. Das, A. Dantcheva, S. Shan, X. Chen
        <br> In this work, we propose an end-to-end approach for robust remote heart rate (HR) measurement gleaned from facial videos. 
        <font color="911A00">IEEE FG '19.</font> 
    </p>
  </div> 
  <br>   
</div>




<h1><span data-i18n="skills.my_skills">Selected Projects</span></h1>
<div class="archive">
        <div>
    <p style="float: left; margin-right:20px">
        <img src="./static/img/gloss.png" max-height="200px" width="130px">
    </p>
    <p>
        <b>Machine Translation for Low-resource Language Using Interlinear Gloss(Ongoing)</b>
<br> How can we improve the machine translation performance under an extremely low-resource scenario? GLoss, as an interlingua representations with morphosyntactic information, may be a great help.
    </p>
  </div>
  <br>
  <div>
    <p>
        <b>On the Evaluation of Cross-lingual Mappings of Embeddings(Ongoing)</b>
<br>
Word translation is dominantly used in cross-lingual word embedding research as a intrinsic evaluation method. However, current researches show no correlation between word translation performance and downstream performance. The accuracy of word-level alignments may not be the core of the success of cross-lingual contextualized embeddings in downstream tasks. Thus, we want to explore factors that make contextualized embeddings outperform static embeddings in downstream tasks and propose multilingual probing tasks.
    </p>
  </div>
  <br>
    <div>
    <p style="float: left; margin-right:20px">
        <img src="./static/img/acoustics.png" max-height="200px" width="130px">
    </p>
    <p>
        <b>Interactions of Tone and Prosodic Focus in Whispered Mandarin, A Pilot Study</b>
<br>
The absence of F0 in whispered speech affects not only tones, but also prosodic focus, where pitch contour is also an important cue for prominence in phonated speech. The present study attempts to explore whether there are acoustic cues to contrastive focus in whispered Mandarin and if they interact with tonal cues, from both production and perception sides. I first did comparison of tonal and prosodic focus cues in whispered and phonated speech. Then, I examines whether these cues help or hinder the perception of tone and prominence from both phonation types.
    </p>
  </div>
  <br>
    <div>
    <p style="float: left; margin-right:20px">
        <img src="./static/img/bias.png" max-height="200px" width="130px">
    </p>
    <p>
        <b>Discovering Bias in Pop Culture Portrayal</b>
<br>
Pop culture plays an important role in shaping the view of individuals in the modern society. Recent years have witnessed the waves of feminism, racial equality and LGBT social movements in the pop culture. Despite the progress made by generations of great pop culture creators, we still observe the missing of underrepresented groups on screen and their weaker positions as well as stereotyped characters. In this project, we proposed computational methods to quantitatively measure the representation, social status and the degree of stereotypical portrayal of each minority group in the pop culture.
    </p>
  </div>
  <br>
<div>
    <p style="float: left; margin-right:20px">
        <img src="./static/img/hokchia.png" max-height="200px" width="130px">
    </p>
    <p>
        <b>Building and Evaluating Hokchia Language Speech Corpus</b>
        <br>Languages are dying. The loss of a single language, legendary linguist Kenneth Hale used to say, “is like dropping a bomb on the Louvre.” Hoping to contribute to the protection of endangered language, I build and evaluate a colloquial Hokchia (an endangered language spoken in southern China) corpus of storytelling record about 71 minutes of good quality signal with transcription written in Hanzi.
    </p>
  </div>
  <!-- 每次新的project别忘了换行符号 <br> -->
   <br>
<div>
    <p style="float: left; margin-right:20px">
        <img src="./static/img/thesis.jpeg" max-height="200px" width="130px">
    </p>
    <p>
        <b>Automatic Interpreting Quality Estimation</b>
        <br>Designed a computational approach to automate interpreting quality estimation based on interpreting tactics, linguistic features and cognitive science knowledge. Estimated the final score by Support Vector Regression. Outperformed the previous relative research.
    </p>
  </div>
</div>

