---
layout: default
---

<div id="home">
    <h1>{{ site.title }}</h1>
    <hr/>
    <p>
        Welcome here!
      </p>    

{% include sections/career.html %}  
{% include sections/education.html %}  

<h1><span data-i18n="skills.my_skills">Projects</span></h1>
<div class="archive">
    <div class="col-lg-14">
    <!-- <div class="col-lg-8 col-lg-offset-2"> -->
        <div>
            <p style="float: left;">
                <img src="./static/img/favicon.jpeg" max-height="130px" width="130px" hspace=20>
            </p>
            <p>
                <b>Title of your project Title of your project Title of your project</b>
                <br>Xingyuan Zhao*, others. 
                <br>Some text of your project, it is really a cool project. Some text of your project, it is really a cool project.
                Some text of your project, it is really a cool project.
                <br><font color="911A00">ACL '20.</font> <a href="http://aclweb.org/anthology/W19-0116">Paper link.</a>
            </p>
        </div>
        <br>
        <div>
          <p style="float: left;">
              <img src="./static/img/favicon.jpeg" max-height="130px" width="130px" hspace=20>
          </p>
          <p>
              <b>Title of your project Title of your project Title of your project</b>
              <br>Xingyuan Zhao*, others. 
              <br>Some text of your project, it is really a cool project. Some text of your project, it is really a cool project.
              Some text of your project, it is really a cool project.
              <br><font color="911A00">ACL '20.</font> <a href="http://aclweb.org/anthology/W19-0116">Paper link.</a>
          </p>
        </div>        
    </div>
</div>

</div>