---
layout: default
---

<div id="home">
    <h1>{{ site.title }}</h1>
    <hr/>
    <p>
        Welcome here! I am Xingyuan, a graduate student of Language Technologies Institute in the School of Computer Science at Carnegie Mellon University. I am fortunately advised by <a href="http://www.phontron.com/index.php">Professor Graham Neubig</a> and <a href="http://www.cs.cmu.edu/~lsl/"> Professor Lori Levin </a>.
         <br>
         My research interests span from Computational linguistics to Natural Language Processing. In particular, I am interested in machine learning methods that are linguistically motivated, and the computational approaches that answer the scientific questions of linguistics. My goal is to build natural language processing systems that are more close to human cognition and robust to contextual variation. 

    </p>    
</div>

{% include sections/career.html %}  
{% include sections/education.html %} 

<h1><span data-i18n="skills.my_skills">Projects</span></h1>
<div class="archive">
  <div>
    <p style="float: left; margin-right:20px">
        <img src="./static/img/favicon.jpeg" max-height="200px" width="130px">
    </p>
    <p>
        <b>R00 Title of your project Title of your project Title of your project</b>
        <br>Xingyuan Zhao*, others. 
        <br>Some text of your project, it is really a cool project. Some text of your project, it is really a cool project.
        Some text of your project, it is really a cool project.
        <br><font color="911A00">ACL '20.</font> <a href="http://aclweb.org/anthology/W19-0116">Paper link.</a>
    </p>
  </div>
  <!-- 每次新的project别忘了换行符号 <br> -->
  <br>
  <div>
    <p style="float: left; margin-right:20px">
        <img src="./static/img/favicon.jpeg" max-height="200px" width="130px">
    </p>
    <p>
        <b>R01 Title of your project Title of your project Title of your project</b>
        <br>Xingyuan Zhao*, others. 
        <br>Some text of your project, it is really a cool project. Some text of your project, it is really a cool project.
        Some text of your project, it is really a cool project.
        <br><font color="911A00">ACL '20.</font> <a href="http://aclweb.org/anthology/W19-0116">Paper link.</a>
    </p>
  </div>    
</div>