{% if page.title %}
  {% capture title %}{{ page.title }} | {{ site.title }}{% endcapture %}
{% else %}
  {% capture title %}{{ site.title }}{% endcapture %}
{% endif %}

{% if page.excerpt %}
  {% capture description %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% endcapture %}
{% else %}
  {% capture description %}{{ site.description }}{% endcapture %}
{% endif %}

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="{{ description }}">
  <meta name="keywords" content="{{ site.keywords | array_to_sentence_string }}">
  <meta name="author" content="{{ title | escape }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="theme-color" content="#f5f5f5">

  <!-- ================================================================================== -->
  <!-- Twitter Tags -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="{{ title | escape }}">
  <meta name="twitter:description" content="{{ description | escape }}">
  {% if page.image.feature %}
    <meta property="twitter:image" content="{{ site.url }}/img/{{ page.image.feature }}">
  {% else %}
    <meta property="twitter:image" content="{{ site.url }}/img/leonids-logo.png">
  {% endif %}

  <!-- ================================================================================== -->
  <!-- Open Graph Tags -->
  <meta property="og:type" content="blog">
  <meta property="og:url" content="{{ site.url }}{{ page.url }}">
  <meta property="og:title" content="{{ title | escape }}">
  <meta property="og:description" content="{{ description | escape }}">
  {% if page.image.feature %}
    <meta property="og:image" content="{{ site.url }}/img/{{ page.image.feature }}">
  {% else %}
    <meta property="og:image" content="{{ site.url }}/img/leonids-logo.png">
  {% endif %}
  <title>{{ title }}</title>

  <!-- ================================================================================== -->
  <!-- CSS files -->
  <link rel="stylesheet" href="{{ site.url }}/css/font-awesome.min.css">
  <link rel="stylesheet" href="{{ site.url }}/css/main.css">

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ "/feed.xml" | prepend: site.url }}" />

  <!-- ================================================================================== -->
  <!--MATH Jax LATEX-->
  <script type="text/javascript" async
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-MML-AM_CHTML">
  </script>
      <script type="text/x-mathjax-config">
    MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
  </script>
  <script type="text/javascript" async
    src="https://example.com/mathjax/MathJax.js?config=TeX-AMS_CHTML">
  </script>

  <!-- ================================================================================== -->
  <!-- leaflet -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
    integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
    crossorigin=""/>
  <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
    integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
    crossorigin=""></script>
  <script language="javascript">
    function init() {
      var map = new L.Map('map', 
        {
          minZoom: 1,
          maxZoom: 18,
          zoomSnap: 0,
          zoomDelta: 0.25
        }
      );                       
      L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
          attribution: '&copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors',
          maxZoom: 18,
          // noWrap: true, // Disable duplicated worldmap
      }).addTo(map);
      map.attributionControl.setPrefix(''); // Don't show the 'Powered by Leaflet' text.
      
      // Set centrl point and original view
      var central = new L.LatLng(0, 0); 
      map.setView(central, 1);

      // Add a information of the zoom number
      var ZoomViewer = L.Control.extend({
          onAdd: function(){
      var container= L.DomUtil.create('div');
      var gauge = L.DomUtil.create('div');
      container.style.width = '200px';
      container.style.background = 'rgba(255,255,255,0.5)';
      container.style.textAlign = 'left';
      map.on('zoomstart zoom zoomend', function(ev){
        gauge.innerHTML = 'Zoom level: ' + map.getZoom();
      })
      container.appendChild(gauge);
      return container;
        }
      });
      (new ZoomViewer).addTo(map);
      
      // Define an array. This could be done in a seperate js file.
      // This tidy formatted section could even be generated by a server-side script
      // or fetched seperately as a jsonp request.
      var markers = [
        // lo, la
          [ 8.54766, 47.37631,  "Zurich<br>" ],
          [ -122.25853, 37.87189, "Berkeley<br>6 months@UC Berkeley... tried almost all the Asian foods at Downtown Berkeley." ],
          [ 120.09206, 30.30501,  "Hangzhou<br>Spent >3 years for undergraduate@ZJU. Like the city, the food, the tourists sites..." ],
          [ -76.62051, 39.3299, "Baltimore<br>"],
          [ 18.07066, 59.3498, "Stockholm<br>" ],
          [ 103.81983, 1.35208, "Singapore<br>"],
          [ 114.10949, 22.39642, "Hongkong<br>" ],
          [ -9.13933, 38.72225, "Lisbon<br>" ],
          [ 116.32466, 39.99904, "Beijing<br>"],
          [ 121.4737, 31.23039, "Shanghai<br>"],
          [ 119.38433, 25.72114, "Fuqing<br>The hometown where I spent my childhood."],
          [ 118.08942, 24.47983, "Xiamen<br>"],
          [ 120.58528, 31.29897, "Suzhou<br>"],
          [ 113.75179, 23.02067, "Dongguan<br>"],
          [ 119.92279, 28.46763, "Lishui<br>" ],
          [ 118.79687, 32.06025, "Nanjing<br>"],
          [ 6.14315, 46.20439, "Geneva<br>The place where I took X times of GRE..."],
          [ -122.41941, 37.77492, "San Francisco<br>Nothing special... many Chinese restaurants here"],
          [ 120.48806, 30.7428, "Wuzhen<br>2-day travel with friends. Nice town with rivers and ancient buildings."],
          [ 119.79016, 25.49872, "Pingtan<br>"],
          // [ 59.3498, 18.07066, "Stockholm<br><a href=\"https://en.wikipedia.org/wiki/Nelson's_Column\">wp</a>" ] 
      ];
      //Loop through the markers array
      for (var map_idx=-10; map_idx<11; map_idx++){
        for (var i=0; i<markers.length; i++) {
          var lon = markers[i][0] + map_idx*360;
          var lat = markers[i][1];
          var popupText = markers[i][2];
          
          var markerLocation = new L.LatLng(lat, lon);
          var marker = new L.Marker(markerLocation);
          map.addLayer(marker);
      
          marker.bindPopup(popupText);
        }
      }
    }
  </script>   
  <!-- ================================================================================== -->

</head>
