{% if page.author %} {% assign author = site.data.authors[page.author] %}{% else %}{% assign author = site.owner %} {% endif %}

<div class="cover-card table-cell table-middle">
  {% if author.avatar %}
  <a href="{{ site.url }}/">
    <img src="{{ site.url }}/img/{{ author.avatar }}" alt="" class="avatar">
  </a>
  {% endif %}
  <a href="{{ site.url }}/" class="author_name">{{ author.name }}</a>
  <!-- <span class="author_job">{{ author.job }}</span> -->
  <!-- probably chinese name + leo -->
  <span class="author_bio mbm">{{ author.bio }}</span>
  <nav class="nav">
    <ul class="nav-list">
      <li class="nav-item">
        <a href="{{ site.url }}/">Home</a>
      </li>
      {% for page in site.pages %} {% if page.title %}
      <li class="nav-item">
        <a href="{{ site.url }}{{ page.url }}">{{ page.title }}</a>
      </li>
      {% endif %} {% endfor %}
    </ul>
  </nav>
  <p>
    <a href="https://keybase.io/liangcheng_yu?refresh=faf3b#panel-actions-profile">
      <span style="font-size: 1.1em; color: Black;">
      <i class="fa fa-key fa-lg" aria-hidden="true"></i>
      </span>
    </a>
    <a href="https://www.linkedin.com/in/liangcheng-yu-5b1a41a3/">
      <span style="font-size: 1.5em; color: Black;">
      <i class="fa fa-linkedin"></i>
      </span>
    </a>    
    <a href="https://github.com/liangcheng-yu">
      <span style="font-size: 1.5em; color: Black;">
      <i class="fa fa-github"></i>
      </span>
    </a>      
    <a href="https://twitter.com/YuLiangcheng">
      <span style="font-size: 1.5em; color: Black;">
      <i class="fa fa-twitter"></i>
      </span>
    </a>          
    <a href="mailto:liangcheng.yu46@gmail.com">
      <span style="font-size: 1.5em; color: Black;">
      <i class="fa fa-envelope"></i>
      </span>
    </a>      
    <a href="{{ site.url }}/doc/liangcheng_cv.pdf">
      <span style="font-size: 1.5em; color: Black;">
        <i class="fa fa-file-pdf-o"></i>
      </span>
    </a>   
</p>
  <!-- seems not working -->
  {% include social-links.html %}
</div>
