@font-face {
    font-family: 'Chalkduster';
    font-style: normal;
    font-weight: 300;
    src: local('ChalkdusterWoff'), local('ChalkdusterTtf'),
         url('../fonts/Chalkduster.woff') format('woff'),
         url('../fonts/Chalkduster.ttf') format('ttf'); /* For different browsers */
  }