.underlined {
    flex: 1;
    text-decoration: none;
    background-image: linear-gradient(to right, yellow 0, yellow 100%);
    background-position: 0 1.2em;
    background-size: 0 100%;
    background-repeat: no-repeat;
    transition: background .5s;
    &:hover, {
        background-size: 100% 100%;
    }
    &--thin {
        background-image: linear-gradient(to right, black 0, black 100%);
    }
    &--thick {
        background-position: 0 -0.1em;
    }
    &--offset {
        background-position: 0 0.2em;
        //didn't find another solution than mask the underline shape by a box shadow with the same color than the bg
        box-shadow: inset 0 -.5em 0 0 white;
    }
    &--gradient {
        background-position: 0 -0.1em;
        background-image: linear-gradient(to right, yellow 0, lightgreen 100%);
    }
    &--reverse {
        background-position: 100% -0.1em;
        transition: background 1s; //yep, that's a long link
        background-image: linear-gradient(to right, yellow 0, yellow 100%);
    }
}

.site-header {
    
    margin-top: -2rem;
    max-width: $max-width;
    font-family: $title-font-family;
    // Same size as h1
    font-size: 2rem;
    margin-bottom: -$spacing-unit;
    overflow: hidden;  // Important, since child float leads to height equals 0, border-bottom will shown on top
    border-bottom: 1px solid $grey-color-light;

    .site-title {
        float: left;
        max-width: $max-width/2;
        a {
            color: $text-color;
        }
    }

    .site-nav {
        float:right;
        color:$penn-blue;
        max-width: $max-width/2;
        // Equivalent to h4
        font-size: 1.25rem;
        a {
            color: $penn-blue;
        }
    }
}

// Used to highlight text with background colors
.smallcap {
    //text-transform: lowercase;
    //font-variant: small-caps;
    font-size: 1.5rem;
    font-weight: bold;

    a,
    a:hover {
        text-decoration: none;
        letter-spacing: 2px;
        background-color: #333;
        color: #eee;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        padding-top: 0.2rem;
        padding-bottom: 0.2rem;
    }
}

.page-content {
    position: relative;
    padding: $spacing-unit ($spacing-unit * 0.75);
    // margin: 1rem;
    // margin include margin-{top,left,right,bottom} and the later margin-top overwrites auto
    margin: auto;
    margin-top: $spacing-unit/2;
    margin-bottom: -$spacing-unit;
    justify-content: center;
    box-sizing: border-box;
    max-width: $max-width;
}

.home {
    section + section {
        max-width: $max-width;
    }
}

.post-list > li {
    margin-bottom: $spacing-unit / 4;
    list-style-type: none;
    margin-left: -2rem;

    a {
        color: $text-color;
        text-decoration: none;
        // font-weight: normal;

        &:hover {
            color: $link-color;
            text-decoration: underline;
        }
    }

    time {
        font-size: $small-font-size;
        color: $grey-color;
        display: inline-block;
    }
    @include media-query($on-palm) {
        time {
            display: block;
            font-size: $small-font-size;
        }
    }
}

.tag-title {
    color: $link-color;
}

.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 2rem;
    letter-spacing: -1px;
    line-height: 1.2;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.post-meta {
    font-size: $small-font-size;
    font-family: $code-font-family;
    color: $grey-color;
    a, a:visited {
      color: $grey-color-dark;
    }
    .tags {
        a, a:visited {
            background: $grey-color-light;
            padding: 0.1rem 0.5rem;
        }
    }
}

.post-content {
    margin-bottom: $spacing-unit;
    font-family: $base-font-family;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-top: 2rem;
        font-weight: normal;
    }

    h1,
    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.5rem;
    }

    h4 {
        font-size: 1.25rem;
    }

    h5,
    h6 {
        font-size: 1rem;
    }
}

.footer {
    // margin-top: -$spacing-unit;
    margin-top: $spacing-unit;
    font-size: $base-font-size;
    font-family: $code-font-family;
    position: relative;
    color: $grey-color;
    overflow: hidden;  // Important, since child float leads to height equals 0, border-bottom will shown on top
    border-top: 1px solid $grey-color-light;
    a, a:visited {
        color: $grey-color-dark;
    }    
    .copyright {
        float: left;
        width: 50%;
    }
    .social {
        float: right;
        text-align: right;
        width: 50%;
        // Set a slightly larger font to icon visualization
        font-size: $base-font-size*1.15;
        // .img {
        //     height: $base-font-size/2;
        //     width: $base-font-size/2;
        // }
    }
}

.twofigsamerow {
    font-size: $base-font-size;
    font-family: $code-font-family;
    position: relative;
    // color: $grey-color;
    overflow: hidden;  // Important, since child float leads to height equals 0, border-bottom will shown on top
    // height: $max-width/2;
    // Center image
    text-align: center;
    .left {
        float: left;
        width: 50%;
    }
    .right {
        float: right;
        text-align: right;
        width: 50%;
        // Set a slightly larger font to icon visualization
        font-size: $base-font-size*1.15;
        // .img {
        //     height: $base-font-size/2;
        //     width: $base-font-size/2;
        // }
    }
}

.blog-sort-switch {
    text-transform: lowercase;
    font-variant: small-caps;
    a,
    a:hover {
        border-radius: 8px;  // For round edges
        font-size: $base-font-size;
        font-weight: bold;
        font-style: italic;
        margin-bottom: $spacing-unit/2;
        // Variable args: top, right, bottom, left
        padding: 0px 8px 4px 8px;  // Narrower vertically and top to be consistent with italic
        overflow-x: auto;
        border: 1px solid $grey-color-light;    
        // text-decoration: none;
        letter-spacing: 1px;
    }
    .current {
        // background-color: $grey-color-light;
        // Gradient background from center to edge
        background-image: radial-gradient($background-color, $grey-color-light);
    }
}