<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <div class="page-content">
      {{ content }}
      <div class="footer">
          <div class="copyright">
            &copy; 2018-2021 Designed by <a href="{{ '/' | prepend: site.baseurl | prepend: site.url }}">{{ site.title }}</a>
          </div>
          <div class="social">  
            {% for item in site.social %}
              <a href="{{ item.link }}"><i class="{{ item.icon }}"></i></a>
              <!-- <a href="{{ item.link }}"><img src="/img/icon/github.svg"></img></a> -->
            {% endfor %}
          </div>
      </div>
    </div>
    {% include google_analytics.html %}

  </body>
</html>
