<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <div class="page-content">
      {{ content }}
      <div class="footer">
          <div class="copyright">
            &copy; 2018-2020 Designed by <a href="{{ '/' | prepend: site.baseurl | prepend: site.url }}">{{ site.title }}</a>
          </div>
          <div class="social">  
            {% for item in site.social %}
              <a href="{{ item.link }}"><i class="{{ item.icon }}"></i></a>
              <!-- <a href="{{ item.link }}"><img src="/img/icon/github.svg"></img></a> -->
            {% endfor %}
          </div>
      </div>
    </div>
    {% include google_analytics.html %}
    <!-- Default Statcounter code for personal website update
https://xingyuanzhao.xyz/ -->
<script type="text/javascript">
var sc_project=12469386; 
var sc_invisible=1; 
var sc_security="7b08637b"; 
var sc_https=1; 
</script>
<script type="text/javascript"
src="https://www.statcounter.com/counter/counter.js"
async></script>
<noscript><div class="statcounter"><a title="Web Analytics"
href="https://statcounter.com/" target="_blank"><img
class="statcounter"
src="https://c.statcounter.com/12469386/0/7b08637b/1/"
alt="Web Analytics"></a></div></noscript>
<!-- End of Statcounter Code -->
  </body>
</html>
